name: Run tests
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version-file: '.node-version'
      - run: bun install --frozen-lockfile
      - run: bun run lint:ci
      - run: bun run typecheck
      # - run: pnpm test

      # - name: 'Report coverage'
      #   uses: davelosert/vitest-coverage-report-action@v2
      #   if: always()


